<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- No INTERNET permission in this bootstrap build. Model import uses SAF. -->
    <queries><intent><action android:name="android.intent.action.TTS_SERVICE" /></intent></queries>
    <application android:label="Nyra" android:theme="@style/Theme.Nyra" android:allowBackup="false" android:supportsRtl="true" android:usesCleartextTraffic="false">
        <uses-native-library android:name="libvndksupport.so" android:required="false" />
        <uses-native-library android:name="libOpenCL.so" android:required="false" />
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
